# ignore the contents, but then add back in the bits we want to track
*
# don't ignore the .gitignore or the place holder file.
!.gitignore
!placeholder.txt
# don't ignore vundle for ease of portability
!Vundle.vim/
!Vundle.vim/*
